h1{
    color: magenta; 
}

.flex-container{
display: flex; 
background-color: cornflowerblue;
height: 700px;
align-items: stretch;
align-content: flex-start;
flex-wrap: wrap;
flex-direction: row;

}

.flex-container > div{
    color: yellow;
    background-color: orange;
    margin: 60px; 
    padding: 40px;
}

#small{
    align-self: flex-end; 
}